node_modules/
npm-debug.log
yarn-error.log
package-lock.yaml
pnpm-lock.yaml

dist/
build/

Dockerfile.local
docker-compose.override.yml
*.log

localstack-data/
mongo-data/

.env
.env.local
.env.development
.env.production

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
desktop.ini

coverage/

*.bak
*.tmp
ssl/fake-key.pem
ssl/fake.pem